{% extends 'employee/layout/base.html'%}

{% block content %}
        <div class="container">
            <nav class="navbar search navbar-expand-lg navbar-light bg-light ">

                  <form class="d-flex Search_Box">
                    <input class="form-control me-2" type="search" placeholder="Search" style="outline:none"
                           aria-label="Search">
                    <button class="btn btn-outline-success Search-Box_button" type="submit">Search</button>
                  </form>

          </nav>

              <div class="card border-0">
                        <div class="card-header">
                            <h5 class="card-title">
                               Danh sách chuyến bay
                            </h5>
                            <h6 class="card-subtitle text-muted">
                            </h6>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Điểm đi</th>
                                        <th scope="col">Điểm đến</th>
                                        <th scope="col">Ngày khởi hành</th>
                                        <th scope="col">Ngày đến</th>



                                    </tr>
                                </thead>
                                <tbody>
                                    {% for flight, route, departure_airport_alias, arrival_airport_alias in flights %}
                                    <tr>
                                        <td>{{ departure_airport_alias.name }}</td>
                                        <td>{{ arrival_airport_alias.name }}</td>
                                        <td>{{ flight.departure_time }}</td>
                                        <td>{{ flight.arrival_time }}</td>
                                        <td class="btn btn-warning">
                                            <a href="{{ url_for('user_information', f=flight.id) }}"
                                               style="padding:10px; margin-top: 10px; color:blue; border-radius: 10%">
                                                Đặt vé
                                            </a>
                                        </td>

                                        <td class="btn btn-info" style="margin:20px 2px 20px 0">
                                            <a href="" style="padding:10px; color:blue; border-radius: 10%">
                                                Xem chi tiết
                                            </a>
                                        </td>

                                    </tr>

                                    {% endfor %}

                                </tbody>


                            </table>
                        </div>
              </div>
        </div>
{% endblock %}