{% extends "user/layout/base.html" %}


{% block title %}
<title>TRAVEL WITH SUGAR GLIDER | Trang chủ</title>
{% endblock %}

{% block heading %}
Trang chủ
{% endblock %}

{% block content %}
<body style="background-color: #7BCAFC;">
<div class="lists-container" style="margin: 20px 0px">
    <div class="confirm-info">
        <div class="row">
            <div id="info-flight" class="col">
                <h6>THÔNG TIN CHUYẾN BAY</h6>
                <div class="container p-5 rad-bor h-full">
                    <div class="row">
                        <label class="col">Airline</label>
                        <h4 class="col">Sugar Glider Airline</h4>
                    </div>
                    <div class="row">
                        <label class="col">Airplane</label>
                        <h4 class="col">{{session['info']['plane'] }}</h4>
                    </div>
                    <div class="row">
                        <label class="col">From</label>
                        <h4 class="col">{{session['info']['departure'] }}</h4>
                    </div>
                    <div class="row">
                        <label class="col">To</label>
                        <h4 class="col">{{session['info']['arrival'] }}</h4>
                    </div>
                    <div class="row">
                        <label class="col">Departure</label>
                        <h4 class="col">{{session['info']['departure_time'] }}</h4>
                    </div>
                    <div class="row">
                        <label class="col">Arrival</label>
                        <h4 class="col">{{session['info']['arrival_time'] }}</h4>
                    </div>
                </div>
            </div>
            <div id="info-client" class="col">
    <h6>THÔNG TIN HÀNH KHÁCH</h6>
    <div class="container p-5 rad-bor h-full">
        <div class="row">
            <label class="col">Full Name</label>
            <h4 class="col">{{session['info']['name'] }}</h4>
        </div>
        <div class="row">
            <label class="col">Identify</label>
            <h4 class="col">{{session['info']['identify'] }}</h4>
        </div>
        <div class="row">
            <label class="col">Date of birth</label>
            <h4 class="col">{{ session['info']['birthdate']  }}</h4>
        </div>
        <div class="row">
            <label class="col">Gender</label>
            <h4 class="col">{{session['info']['gender'] }}</h4>
        </div>
        <div class="row">
            <label class="col">Phone Number</label>
            <h4 class="col">{{ session['info']['phone'] }}</h4>
        </div>
    </div>
</div>

            <div id="info-booking" class="col">
                <h6>THÔNG TIN ĐẶT VÉ</h6>
                <div class="container p-5 rad-bor h-full">
                    <div class="row">
                        <label class="col">Class</label>
                        <h4 class="col">{{session['info']['class'] }}</h4>
                    </div>
                    <div class="row">
                        <label class="col">Seat Number</label>
                        <h4 class="col">{{session['info']['name_seat'] }}</h4>
                    </div>
                    <div class="row">
                        <label class="col">Total</label>
                        <h4 class="col">{{session['info']['price'] }}</h4>
                    </div>
                    <div class="row">
                        <div class="code-momo col"><img src="./static/image/momo.png"></div>
                        <div class="code-momo col"><img src="./static/image/code.jpg"></div>
                    </div>
                    <div class="row" style="position: absolute; bottom: 25px; right: 65px;">
                        <div class="col">
                            <fieldset>
                                <button type="submit" class="btn" style="background-color: #1FA0F9; color: white; width: 100px;">
                                    <a href="{{ url_for('enter_customer_info' )}}"> BACK</a>
                                </button>
                            </fieldset>
                        </div>
                        <div class="col">
                            <fieldset>
                                <button type="submit" class="btn" style="background-color: #1FA0F9; color: white; width: 100px;" onclick="pay_cus()">
                                    <a href="{{ url_for('pay_online')}}"> PAY</a>
                                </button>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

{% endblock %}