{% extends "user/layout/base.html" %}

{% block title %}
<title>TRAVEL WITH MYCHU | Trang chủ</title>
{% endblock %}

{% block heading %}
Trang chủ
{% endblock %}

{% block content %}
<body style="background-color: #7BCAFC;">
<div class="lists-container" style="margin: 20px 0px">
    <div class="confirm-info">
        <div class="row">
            <div id="info-flight" class="col">
                <h6>THÔNG TIN CHUYẾN BAY</h6>
                <div class="container p-5 rad-bor h-full">
                    <div class="row">
                        <label class="col">Airline</label>
                        <h4 class="col">Vietname Airline</h4>
                    </div>
                    <div class="row">
                        <label class="col">Airplane</label>
                        <h4 class="col">Beoing 787</h4>
                    </div>
                    <div class="row">
                        <label class="col">Flight Number</label>
                        <h4 class="col">65-11B787</h4>
                    </div>
                    <div class="row">
                        <label class="col">From</label>
                        <h4 class="col">TSN</h4>
                    </div>
                    <div class="row">
                        <label class="col">To</label>
                        <h4 class="col">HN</h4>
                    </div>
                    <div class="row">
                        <label class="col">Boarding</label>
                        <h4 class="col">11:05</h4>
                    </div>
                    <div class="row">
                        <label class="col">Departure</label>
                        <h4 class="col">11:35</h4>
                    </div>
                    <div class="row">
                        <label class="col">Arrival</label>
                        <h4 class="col">13:50</h4>
                    </div>
                </div>
            </div>
            <div id="info-client" class="col">
                <h6>THÔNG TIN HÀNH KHÁCH</h6>
                <div class="container p-5 rad-bor h-full">
                    <div class="row">
                        <label class="col">Full Name</label>
                        <h4 class="col">NGOC/NGUYEN NHU HOANG</h4>
                    </div>
                    <div class="row">
                        <label class="col">CMND/CCCD</label>
                        <h4 class="col">0238973405974</h4>
                    </div>
                    <div class="row">
                        <label class="col">Date of birth</label>
                        <h4 class="col">14/11/2001</h4>
                    </div>
                    <div class="row">
                        <label class="col">Gender</label>
                        <h4 class="col">Female</h4>
                    </div>
                    <div class="row">
                        <label class="col">Phone Number</label>
                        <h4 class="col">0779446699</h4>
                    </div>
                </div>
            </div>
            <div id="info-booking" class="col">
                <h6>THÔNG TIN ĐẶT VÉ</h6>
                <div class="container p-5 rad-bor h-full">
                    <div class="row">
                        <label class="col">Quantity</label>
                        <h4 class="col">2</h4>
                    </div>
                    <div class="row">
                        <label class="col">Class</label>
                        <h4 class="col">BUSINESS CLASS</h4>
                    </div>
                    <div class="row">
                        <label class="col">Seat Number</label>
                        <h4 class="col">A1</h4>
                    </div>
                    <div class="row">
                        <label class="col">Total</label>
                        <h4 class="col">5,600,000 đ</h4>
                    </div>
                    <div class="row">
                        <div class="code-momo col"><img src="./static/image/momo.png"></div>
                        <div class="code-momo col"><img src="./static/image/code.jpg"></div>
                    </div>
                    <div class="row" style="position: absolute; bottom: 25px; right: 65px;">
                        <div class="col">
                            <fieldset>
                                <button type="submit" class="btn" style="background-color: #1FA0F9; color: white; width: 100px;">BACK
                                </button>
                            </fieldset>
                        </div>
                        <div class="col">
                            <fieldset>
                                <button type="submit" class="btn" style="background-color: #1FA0F9; color: white; width: 100px;">PAY
                                </button>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
{% endblock %}