{%extends "user/layout/base.html"  %}



{% block head_css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="D:\ManageFlight\ManageFlightApp\static\js\home\listflight.js"></script>
<!-- Theme Style -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/user/list-flight.css') }}">
{% endblock %}

{% block content %}
<body style="background-color: #7BCAFC;" >

<div class="lists-container col-md-12" style="margin: 20px 0px">
    <div class="col-md-5 col-md-offset-1">
        <section id="first-tab-group" class="tabgroup">
            <div id="tab1">
                <div class="submit-form">
                    <h4>Check availability for <em>direction</em>:</h4>
                    <form action="/list-flight" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <label for="from">From:</label>
                                    <select required name='from' onchange='this.form.()'>
                                        {% for a in airport %}
                                        <option value="{{ a.name }}" id="from">{{ a.name }}</option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <label for="to">To:</label>
                                    <select required name='to' onchange='this.form.()'>
                                        {% for a in airport %}
                                        <option value="{{ a.name }}" id="to">{{ a.name }}</option>
                                        {% endfor %}
                                    </select>
                                </fieldset>
                            </div>

                            <div class="col-md-6">
                                <fieldset>
                                    <label for="departure">Departure date:</label>
                                    <input name="departure" type="date" class="form-control date"
                                           id="departure"
                                           value="{% if departure %}{{ departure.strftime('%Y-%m-%d') }}{% else %}{% endif %}"
                                           onchange='this.form.()' style="margin-top: 0px;">
                                </fieldset>
                            </div>
                            <!--                                        <div class="col-md-6">-->
                            <!--                                            <fieldset>-->
                            <!--                                                <label for="pos_type">Class:</label>-->
                            <!--                                                <select onchange='this.form.()'>-->
                            <!--                                                    <option value="">Select a location...</option>-->
                            <!--                                                    {% for c in pos_type %}-->
                            <!--                                                    <option value="{{ c.id }}" id="pos_type">{{ c.type_of_position_name }}</option>-->
                            <!--                                                    {% endfor %}-->
                            <!--                                                </select>-->
                            <!--                                            </fieldset>-->
                            <!--                                        </div>-->
                            <div class="col">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Order Ticket Now
                                    </button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>


<h2>{{ start }} - {{ end }} </h2>
{% if flights %}
{% for f in flights %}



<div class="row" style="margin: 0px">

    <div class="list col-md-4" style="padding: 0px; margin-left: 100px; width: 800px;" id="{{ f.id }}">
        <div class="list-preview">

            <section class="top-list">
                <h6>FLIGHT</h6>
                <h2 style="margin: 0px">{{ f[0] }}</h2>
            </section>
            <section class="cities">
                <div class="city">
                    <small>{{  start }}</small>

                    <h1 style="text-align: right"></h1>
                </div>
                <div class="city">
                    <small>{{ end }}</small>

                    <h1 style="text-align: right"></h1>
                </div>
                <svg class="airplane">
                    <use xlink:href="#airplane"></use>
                </svg>
            </section>
        </div>

        <div class="list-info">
            <div class="info-container">
                <!-- Example Code -->

    <p class="d-inline-flex gap-1">
    <a id="btnToggleDetails{{ f.id }}_{{ f.class_id }}"
       data-flight-id="{{ f.id }}"
       data-class-id="{{ f.class_id }}"
       class="btn btn-primary collapsed toggle-details"
       data-bs-toggle="collapse" href="#collapseExample{{ f.id }}_{{ f.class_id }}"
       role="button" aria-expanded="false"
       aria-controls="collapseExample{{ f.id }}_{{ f.class_id }}">
      Xem chi tiết
    </a>

    </p>

    <!-- End Example Code -->
                <h6></h6>
            </div>
            <div class="info-price">
                <h5>GIÁ TIỀN: <strong id="price" style="color: #FFD733">{{ "{:,.0f}".format(f.ticket_price) }}</strong>/người
                </h5>
            </div>
            <button class="butn" style="background-color: #0579C3;"><a href="{{ url_for('load_pos', flight_id=f.id, class_id=f.class_id)}}"> CHOSE </a></button>

            <section>
                <div class="times"  style=" width: 370px;">
                    <div class="box">
                        <small>intermediate_airport</small>
                        <strong>{{ f.num_stops }}</strong>
                    </div>
                    <div class="box">
                        <small>Departure</small>
                        <strong>{{ f.departure_time }}</strong>
                    </div>
                    <div class="box">
                        <small>ticket_class</small>
                        <strong id="class_id">{{ f.class_id }}</strong>
                    </div>
                    <div class="box">
                        <small>Arrival</small>
                        <strong>{{ f.arrival_time }}</strong>
                    </div>
                </div>
            </section>
        </div>
    </div>

        <!-- Example Code -->

    <div class="col-md-3" style="padding = 0px; margin-right = 0px;">
    <div  class="collapse" id="collapseExample{{ f.id }}_{{ f.class_id }}" style="">
      <div class="card card-body">
        <section>
          <div class="times">
              <div class="row">
                   <div class="box col-md-6">
                      <small>Điểm đi: </small>
                      <strong>{{ start }}</strong>
                    </div>
                    <div class="box  col-md-6">
                      <small>Điểm đến: </small>
                      <strong>{{end}}</strong>
                    </div>
              </div>
              <div class="row">
                   <div class="box col-md-6">
                  <small>Ngày khởi hành: </small>
                  <strong>{{f.departure_time}}</strong>
                </div>
                <div class="box col-md-6">
                  <small>Ngày đến:</small>
                  <strong>{{f.arrival_time}}</strong>
                </div>
             </div>
              </div>

        </section>
        <div>
          <small>Hạng vé: </small>
          <strong>{{f.ticket_class_name}}</strong>
        </div>
        <div>
          <small>Số sân bay trung gian: </small>
          <strong>{{f.num_stops}}</strong>
        </div>
        <div>
          <strong> </strong>
        </div>
          {% for s in stops %}
            {% if s.flight_id == f.id %}
            <div>
              <small></small>
                <strong> Sân bay {{ s.airport.name }}</strong>
            </div>
           <div>
              <small>Thời điểm đến: {{ s.arrival_time }}</small>
                <strong> </strong>
            </div>
            <div>
              <small>Thời gian dừng: {{ s.time_delay_min }} phút </small>
                <strong>  </strong>
            </div>
            <div>
              <strong> </strong>
            </div>
          {% endif %}
       {% endfor %}

      </div>
    </div>
    </div>
    <!-- End Example Code -->

</div>


    {% endfor %}
    {% else %}
    <div>
        <h3 class="text-danger">Không có chuyến bay nào!</h3>
        <h4>Bạn vui lòng chọn ngày hoặc tuyến bay khác</h4>
    </div>
    {% endif %}

<!-- -&#45;&#45;&#45;&#45;sgv-&#45;&#45;&#45;&#45;-->
<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
    <symbol id="airplane" viewBox="243.5 245.183 25 21.633">
        <g>
            <path fill="#FFFF65" d="M251.966,266.816h1.242l6.11-8.784l5.711,0.2c2.995-0.102,3.472-2.027,3.472-2.308
                              c0-0.281-0.63-2.184-3.472-2.157l-5.711,0.2l-6.11-8.785h-1.242l1.67,8.983l-6.535,0.229l-2.281-3.28h-0.561v3.566
                              c-0.437,0.257-0.738,0.724-0.757,1.266c-0.02,0.583,0.288,1.101,0.757,1.376v3.563h0.561l2.281-3.279l6.535,0.229L251.966,266.816z
                              "/>
        </g>
    </symbol>
</svg>

</body>

{% endblock %}