{% extends "user/layout/base.html" %}

{% block title %}
<title>TRAVEL WITH SUGAR GLIDER | Trang chủ</title>
{% endblock %}


{% block heading %}
Trang chủ
{% endblock %}


{% block content %}
<body style="background-color: #7BCAFC;">
<div class="lists-container" style="margin: 20px 0px">
    <div class="ticket-info div-center">
        <div class="rad-bor row" style="padding: 0px; max-width: ">
            <div class="ticket-flight-info col" style="padding: 10px; border-radius: 20px">
                <div class="row">
                    <h4 style="text-align: center; color: #FFD733;">PROFILE PERSON</h4>
                </div>
            </div>
        </div>
        <div class="container p-5 my-5 rad-bor col">
            <h4 id="title-info-person"><strong></strong></h4>
            <form id="customerInfoForm" action="{{ url_for('enter_customer_info')}}" method="post">
    <div class="row">
        <div>
            <fieldset>
                <label for="fullname">Full Name</label>
                <input type="text" class="form-control" id="fullname" placeholder="Enter your fullname"
                    name="fullname">
            </fieldset>
        </div>
        <div>
            <fieldset>
                <label for="dob">Date of birth</label>
                <input type="date" class="form-control" id="dob" placeholder="Enter your date of birth" name="dob">
            </fieldset>
        </div>
        <div>
            <fieldset>
                <label for="gender">Gender</label>
                <select class="form-select" id="gender" name="gender">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <label>CCCD/CMND</label>
                <input name="id" type="text" class="form-control" placeholder="Enter your id">
            </fieldset>
        </div>
        <div>
            <fieldset>
                <label>Phone Number</label>
                <input name="phone" type="text" class="form-control" placeholder="Enter your phone number">
            </fieldset>
        </div>
    </div>
                <div class="row">
            <div class="col">
                <fieldset>
                    <button type="submit" class="btn" style="background-color: #0579C3">
                        <a href="{{ url_for('load_pos' )}}"> BACK TO PICK POSITION</a>
                    </button>
                </fieldset>
            </div>
            <div class="col">
                <fieldset>
                    <button type="submit" class="btn" style="background-color: #1FA0F9">
                        PAYMENT
                    </button>
                </fieldset>
            </div>
        </div>
</form>
</div>

    </div>
</div>
</body>
{% endblock %}