<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand me-auto" href="#">Logo</a>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" href="#">Quản lý chuyến bay của tôi</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" href="#">Đặc vé</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link mx-lg-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Tìm
                            vé</a>
                    </li>

                </ul>

            </div>

        </div>
        <a href="{{ url_for('login') }}" class="login-button">Login</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Header modal -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tìm kiếm chuyến bay</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Body modal -->
                <div class="modal-body">
                    <div class="container-fluid">
                        <form class="row g-3 align-items-center">

                            <div class="col-md-6">
                                <label for="inputState" class="form-label">Từ đâu</label>
                                <select id="inputState" class="form-select">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="inputState" class="form-label">Đến đâu</label>
                                <select id="inputState" class="form-select">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>

                            <div class="col-md-12">
                                <label for="inputState" class="form-label">Hạng</label>
                                <select id="inputState" class="form-select">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <label for="inputAddress" class="form-label">Ngày đi</label>
                                <input type="date" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>

                            <div class="col-md-6">
                                <label for="inputAddress" class="form-label">Ngày về </label>
                                <input type="date" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
</div>