<header>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container-fluid">
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link logo-label" href="/" style="color: #0579C3;">TRAVEL WITH MYCHU</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link " href="/list">FLIGHT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" style="color: #0579C3">SIGN IN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register" style="color: red">SIGN UP</a>
                </li>
            </ul>
        </div>
    </nav>
</header>