<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="primary-button">
                    <a href="#" class="scroll-top">Back To Top</a>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/tinhocmo"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://youtube.com/"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="http://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-md-12">
                <p>Copyright &copy; 2018 Flight Tour and Travel Company</p>
            </div>
        </div>
    </div>
</footer>